table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: coral;
}

/* #nutTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

#nutTable td,
#nutTable th,
#nutTable button {

    border: 1px solid #ddd;
    padding: 20px;
}

#nutTable tr:nth-child(even) {
    background-color: white;
}

#nutTable tr:hover {
    background-color: #989898;
    cursor: pointer;
}

#nutTable button:hover {
    background-color: orange;
    cursor: pointer;
}

#nutTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
} */